@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  overscroll-behavior: none;  /* Prevent pull-down refresh effect */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: #f4f2ee; /* Ensure consistent background */
  min-height: 100vh;
  touch-action: manipulation; }
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex items-center justify-center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
